<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>WEBSOCKET-SERVICE</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/datatables/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/dataTables.css">
</head>

<body>
<div class="container">
    <h1>Persons Table</h1>
    <table id="personsTable" class="display">
        <!-- Header Table -->
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        </tfoot>
    </table>

    <h1>Persons Websockets Table</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        </thead>
        <tbody id="personsSocketTable">
        </tbody>
    </table>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script src="/js/datatable.js"></script>
<script src="/js/websockets.js"></script>
</body>
</html>
